@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&display=swap');

.welcome-banner {
  width: 1155px;
  height: 110px;
  background-color: #ffffff;
  border-radius: 20px; 
  opacity: 1;
  padding: 24px;
  margin-bottom: 24px;
   margin-top: -22px;     
  margin-left: -23px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
  font-family: 'Be Vietnam Pro', sans-serif;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between;
}


.welcome-banner h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0;
  margin: 0;
  margin-left: 24px;
  color: #333;
}

.welcome-banner p {
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
  color: #555;
  margin-top: 8px;
  
}
.welcome-banner p {
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
  color: #555;
  margin-left: 24px;
  
}


.banner-image {
  width: 137px;
  height: 138px;
  object-fit: contain;
  margin-right: 24px;
}
